In [1]:
import lxml
import re
import numpy as np
import pandas as pd

from bs4 import BeautifulSoup
from requests import get

In [5]:
url1 = "https://www.imdb.com/search/title/?title_type=feature&release_date=1996-03-29,2018-09-24&sort=num_votes,desc"

In [13]:
class IMDB(object):
	"""docstring for IMDB"""
	def __init__(self, url):
		super(IMDB, self).__init__()
		page = get(url)

		self.soup = BeautifulSoup(page.content, 'lxml')

	def articleTitle(self):
		return self.soup.find("h1", class_="header").text.replace("\n","")

	def bodyContent(self):
		content = self.soup.find(id="main")
		return content.find_all("div", class_="lister-item mode-advanced")

	def movieData(self):
		movieFrame = self.bodyContent()
		movieTitle = []
		movieDate = []
		movieRunTime = []
		movieGenre = []
		movieRating = []
		movieScore = []
		movieDescription = []
		movieDirector = []
		movieStars = []
		movieVotes = []
		movieGross = []
		for movie in movieFrame:
			movieFirstLine = movie.find("h3", class_="lister-item-header")
			movieTitle.append(movieFirstLine.find("a").text)
			movieDate.append(re.sub(r"[()]","", movieFirstLine.find_all("span")[-1].text))
			try:
				movieRunTime.append(movie.find("span", class_="runtime").text[:-4])
			except:
				movieRunTime.append(np.nan)
			movieGenre.append(movie.find("span", class_="genre").text.rstrip().replace("\n","").split(","))
			try:
				movieRating.append(movie.find("strong").text)
			except:
				movieRating.append(np.nan)
			try:
				movieScore.append(movie.find("span", class_="metascore favorable").text.rstrip())
			except:
				movieScore.append(np.nan)
			movieDescription.append(movie.find_all("p", class_="text-muted")[-1].text.lstrip())
			movieCast = movie.find("p", class_="")

			try:
				casts = movieCast.text.replace("\n","").split('|')
				casts = [x.strip() for x in casts]
				casts = [casts[i].replace(j, "") for i,j in enumerate(["Director:", "Stars:"])]
				movieDirector.append(casts[0])
				movieStars.append([x.strip() for x in casts[1].split(",")])
			except:
				casts = movieCast.text.replace("\n","").strip()
				movieDirector.append(np.nan)
				movieStars.append([x.strip() for x in casts.split(",")])

			movieNumbers = movie.find_all("span", attrs={"name": "nv"})

			if len(movieNumbers) == 2:
				movieVotes.append(movieNumbers[0].text)
				movieGross.append(movieNumbers[1].text)
			elif len(movieNumbers) == 1:
				movieVotes.append(movieNumbers[0].text)
				movieGross.append(np.nan)
			else:
				movieVotes.append(np.nan)
				movieGross.append(np.nan)

		movieData = [movieTitle, movieDate, movieRunTime, movieGenre, movieRating, movieScore, movieDescription,
							movieDirector, movieStars, movieVotes, movieGross]
		return movieData

In [14]:
if __name__ == '__main__':
	site1 = IMDB(url1)
	print("Subject: ", site1.articleTitle())
	data = site1.movieData()
	for i in range(len(data)):
		print(data[i][:]) #Print the data

Subject:  Feature Film,Released between 1996-03-29 and 2018-09-24(Sorted by Number of Votes Descending)
['The Dark Knight', 'Inception', 'Fight Club', 'The Matrix', 'The Lord of the Rings: The Fellowship of the Ring', 'The Lord of the Rings: The Return of the King', 'The Dark Knight Rises', 'The Lord of the Rings: The Two Towers', 'Interstellar', 'Django Unchained', 'Gladiator', 'Batman Begins', 'The Avengers', 'Inglourious Basterds', 'Saving Private Ryan', 'The Departed', 'The Prestige', 'The Wolf of Wall Street', 'The Green Mile', 'Avatar', 'Memento', 'Shutter Island', 'American Beauty', 'Guardians of the Galaxy', 'Titanic', 'American History X', 'V for Vendetta', 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Kill Bill: Vol. 1', 'WALL·E', 'Finding Nemo', 'Iron Man', 'Up', 'The Truman Show', 'The Sixth Sense', 'Eternal Sunshine of the Spotless Mind', 'Deadpool', 'Mad Max: Fury Road', 'Star Wars: Episode VII - The Force Awakens', 'Good Will Hunting', 'The Hunger Games', 'Gone Girl', 'No Country for Old Men', 'A Beautiful Mind', 'Catch Me If You Can', 'Monsters, Inc.', 'Avengers: Infinity War', 'Slumdog Millionaire', 'Snatch', 'Gravity']
['2008', '2010', '1999', '1999', '2001', '2003', '2012', '2002', '2014', '2012', '2000', '2005', '2012', '2009', '1998', '2006', '2006', '2013', '1999', '2009', '2000', '2010', '1999', '2014', '1997', '1998', '2005', '2003', '2003', '2008', '2003', '2008', '2009', '1998', '1999', '2004', '2016', '2015', '2015', '1997', '2012', '2014', '2007', '2001', '2002', '2001', '2018', '2008', '2000', '2013']
['152', '148', '139', '136', '178', '201', '164', '179', '169', '165', '155', '140', '143', '153', '169', '151', '130', '180', '189', '162', '113', '138', '122', '121', '194', '119', '132', '143', '111', '98', '100', '126', '96', '103', '107', '108', '108', '120', '138', '126', '142', '149', '122', '135', '141', '92', '149', '120', '104', '91']
[['Action', ' Crime', ' Drama'], ['Action', ' Adventure', ' Sci-Fi'], ['Drama'], ['Action', ' Sci-Fi'], ['Action', ' Adventure', ' Drama'], ['Adventure', ' Drama', ' Fantasy'], ['Action', ' Adventure'], ['Adventure', ' Drama', ' Fantasy'], ['Adventure', ' Drama', ' Sci-Fi'], ['Drama', ' Western'], ['Action', ' Adventure', ' Drama'], ['Action', ' Adventure'], ['Action', ' Adventure', ' Sci-Fi'], ['Adventure', ' Drama', ' War'], ['Drama', ' War'], ['Crime', ' Drama', ' Thriller'], ['Drama', ' Mystery', ' Sci-Fi'], ['Biography', ' Crime', ' Drama'], ['Crime', ' Drama', ' Fantasy'], ['Action', ' Adventure', ' Fantasy'], ['Mystery', ' Thriller'], ['Mystery', ' Thriller'], ['Drama'], ['Action', ' Adventure', ' Comedy'], ['Drama', ' Romance'], ['Drama'], ['Action', ' Drama', ' Sci-Fi'], ['Action', ' Adventure', ' Fantasy'], ['Action', ' Crime', ' Thriller'], ['Animation', ' Adventure', ' Family'], ['Animation', ' Adventure', ' Comedy'], ['Action', ' Adventure', ' Sci-Fi'], ['Animation', ' Adventure', ' Comedy'], ['Comedy', ' Drama', ' Sci-Fi'], ['Drama', ' Mystery', ' Thriller'], ['Drama', ' Romance', ' Sci-Fi'], ['Action', ' Adventure', ' Comedy'], ['Action', ' Adventure', ' Sci-Fi'], ['Action', ' Adventure', ' Sci-Fi'], ['Drama', ' Romance'], ['Action', ' Adventure', ' Sci-Fi'], ['Drama', ' Mystery', ' Thriller'], ['Crime', ' Drama', ' Thriller'], ['Biography', ' Drama'], ['Biography', ' Crime', ' Drama'], ['Animation', ' Adventure', ' Comedy'], ['Action', ' Adventure', ' Sci-Fi'], ['Drama', ' Romance'], ['Comedy', ' Crime'], ['Drama', ' Sci-Fi', ' Thriller']]
['9.0', '8.8', '8.8', '8.7', '8.8', '8.9', '8.4', '8.7', '8.6', '8.4', '8.5', '8.2', '8.0', '8.3', '8.6', '8.5', '8.5', '8.2', '8.6', '7.8', '8.4', '8.1', '8.3', '8.0', '7.8', '8.5', '8.2', '8.0', '8.1', '8.4', '8.1', '7.9', '8.2', '8.1', '8.1', '8.3', '8.0', '8.1', '7.9', '8.3', '7.2', '8.1', '8.1', '8.2', '8.1', '8.0', '8.4', '8.0', '8.3', '7.7']
['84', '74', '66', '73', '92', '94', '78', '87', '74', '81', '67', '70', '69', '69', '91', '85', '66', '75', '61', '83', '80', '63', '84', '76', '75', '62', '62', '63', '69', '95', '90', '79', '88', '90', '64', '89', '65', '90', '80', '70', '68', '79', '91', '72', '75', '79', '68', '84', nan, '96']
['When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.', 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.', 'An insomniac office worker and a devil-may-care soapmaker form an underground fight club that evolves into something much, much more.', 'A computer hacker learns from mysterious rebels about the true nature of his reality and his role in the war against its controllers.', 'A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.', "Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.", "Eight years after the Joker's reign of anarchy, Batman, with the help of the enigmatic Catwoman, is forced from his exile to save Gotham City from the brutal guerrilla terrorist Bane.", "While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of Isengard.", "A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.", 'With the help of a German bounty hunter, a freed slave sets out to rescue his wife from a brutal Mississippi plantation owner.', 'A former Roman General sets out to exact vengeance against the corrupt emperor who murdered his family and sent him into slavery.', 'After training with his mentor, Batman begins his fight to free crime-ridden Gotham City from corruption.', "Earth's mightiest heroes must come together and learn to fight as a team if they are going to stop the mischievous Loki and his alien army from enslaving humanity.", "In Nazi-occupied France during World War II, a plan to assassinate Nazi leaders by a group of Jewish U.S. soldiers coincides with a theatre owner's vengeful plans for the same.", 'Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action.', 'An undercover cop and a mole in the police attempt to identify each other while infiltrating an Irish gang in South Boston.', 'After a tragic accident, two stage magicians engage in a battle to create the ultimate illusion while sacrificing everything they have to outwit each other.', 'Based on the true story of Jordan Belfort, from his rise to a wealthy stock-broker living the high life to his fall involving crime, corruption and the federal government.', 'The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift.', 'A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.', "A man with short-term memory loss attempts to track down his wife's murderer.", 'In 1954, a U.S. Marshal investigates the disappearance of a murderer who escaped from a hospital for the criminally insane.', "A sexually frustrated suburban father has a mid-life crisis after becoming infatuated with his daughter's best friend.", 'A group of intergalactic criminals must pull together to stop a fanatical warrior with plans to purge the universe.', 'A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.', 'A former neo-nazi skinhead tries to prevent his younger brother from going down the same wrong path that he did.', 'In a future British tyranny, a shadowy freedom fighter, known only by the alias of "V", plots to overthrow it with the help of a young woman.', 'Blacksmith Will Turner teams up with eccentric pirate "Captain" Jack Sparrow to save his love, the governor\'s daughter, from Jack\'s former pirate allies, who are now undead.', 'After awakening from a four-year coma, a former assassin wreaks vengeance on the team of assassins who betrayed her.', 'In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind.', 'After his son is captured in the Great Barrier Reef and taken to Sydney, a timid clownfish sets out on a journey to bring him home.', 'After being held captive in an Afghan cave, billionaire engineer Tony Stark creates a unique weaponized suit of armor to fight evil.', '78-year-old Carl Fredricksen travels to Paradise Falls in his house equipped with balloons, inadvertently taking a young stowaway.', 'An insurance salesman discovers his whole life is actually a reality TV show.', 'A boy who communicates with spirits seeks the help of a disheartened child psychologist.', 'When their relationship turns sour, a couple undergoes a medical procedure to have each other erased from their memories.', 'A wisecracking mercenary gets experimented on and becomes immortal but ugly, and sets out to track down the man who ruined his looks.', 'In a post-apocalyptic wasteland, a woman rebels against a tyrannical ruler in search for her homeland with the aid of a group of female prisoners, a psychotic worshiper, and a drifter named Max.', 'As a new threat to the galaxy rises, Rey, a desert scavenger, and Finn, an ex-stormtrooper, must join Han Solo and Chewbacca to search for the one hope of restoring peace.', 'Will Hunting, a janitor at M.I.T., has a gift for mathematics, but needs help from a psychologist to find direction in his life.', "Katniss Everdeen voluntarily takes her younger sister's place in the Hunger Games: a televised competition in which two teenagers from each of the twelve Districts of Panem are chosen at random to fight to the death.", "With his wife's disappearance having become the focus of an intense media circus, a man sees the spotlight turned on him when it's suspected that he may not be innocent.", 'Violence and mayhem ensue after a hunter stumbles upon a drug deal gone wrong and more than two million dollars in cash near the Rio Grande.', 'After John Nash, a brilliant but asocial mathematician, accepts secret work in cryptography, his life takes a turn for the nightmarish.', "A seasoned FBI agent pursues Frank Abagnale Jr. who, before his 19th birthday, successfully forged millions of dollars' worth of checks while posing as a Pan Am pilot, a doctor, and a legal prosecutor.", 'In order to power the city, monsters have to scare children so that they scream. However, the children are toxic to the monsters, and after a child gets through, 2 monsters realize things may not be what they think.', 'The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.', 'A Mumbai teenager reflects on his life after being accused of cheating on the Indian version of "Who Wants to be a Millionaire?".', 'Unscrupulous boxing promoters, violent bookmakers, a Russian gangster, incompetent amateur robbers and supposedly Jewish jewelers fight to track down a priceless stolen diamond.', 'Two astronauts work together to survive after an accident leaves them stranded in space.']
['Christopher Nolan', 'Christopher Nolan', 'David Fincher', 'Directors:Lana Wachowski, Lilly Wachowski', 'Peter Jackson', 'Peter Jackson', 'Christopher Nolan', 'Peter Jackson', 'Christopher Nolan', 'Quentin Tarantino', 'Ridley Scott', 'Christopher Nolan', 'Joss Whedon', 'Quentin Tarantino', 'Steven Spielberg', 'Martin Scorsese', 'Christopher Nolan', 'Martin Scorsese', 'Frank Darabont', 'James Cameron', 'Christopher Nolan', 'Martin Scorsese', 'Sam Mendes', 'James Gunn', 'James Cameron', 'Tony Kaye', 'James McTeigue', 'Gore Verbinski', 'Quentin Tarantino', 'Andrew Stanton', 'Directors:Andrew Stanton, Lee Unkrich', 'Jon Favreau', 'Directors:Pete Docter, Bob Peterson', 'Peter Weir', 'M. Night Shyamalan', 'Michel Gondry', 'Tim Miller', 'George Miller', 'J.J. Abrams', 'Gus Van Sant', 'Gary Ross', 'David Fincher', 'Directors:Ethan Coen, Joel Coen', 'Ron Howard', 'Steven Spielberg', 'Directors:Pete Docter, David Silverman, Lee Unkrich', 'Directors:Anthony Russo, Joe Russo', 'Directors:Danny Boyle, Loveleen Tandan', 'Guy Ritchie', 'Alfonso Cuarón']
[['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine'], ['Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Ellen Page', 'Ken Watanabe'], ['Brad Pitt', 'Edward Norton', 'Meat Loaf', 'Zach Grenier'], ['Keanu Reeves', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Hugo Weaving'], ['Elijah Wood', 'Ian McKellen', 'Orlando Bloom', 'Sean Bean'], ['Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom'], ['Christian Bale', 'Tom Hardy', 'Anne Hathaway', 'Gary Oldman'], ['Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom'], ['Matthew McConaughey', 'Anne Hathaway', 'Jessica Chastain', 'Mackenzie Foy'], ['Jamie Foxx', 'Christoph Waltz', 'Leonardo DiCaprio', 'Kerry Washington'], ['Russell Crowe', 'Joaquin Phoenix', 'Connie Nielsen', 'Oliver Reed'], ['Christian Bale', 'Michael Caine', 'Ken Watanabe', 'Liam Neeson'], ['Robert Downey Jr.', 'Chris Evans', 'Scarlett Johansson', 'Jeremy Renner'], ['Brad Pitt', 'Diane Kruger', 'Eli Roth', 'Mélanie Laurent'], ['Tom Hanks', 'Matt Damon', 'Tom Sizemore', 'Edward Burns'], ['Leonardo DiCaprio', 'Matt Damon', 'Jack Nicholson', 'Mark Wahlberg'], ['Christian Bale', 'Hugh Jackman', 'Scarlett Johansson', 'Michael Caine'], ['Leonardo DiCaprio', 'Jonah Hill', 'Margot Robbie', 'Matthew McConaughey'], ['Tom Hanks', 'Michael Clarke Duncan', 'David Morse', 'Bonnie Hunt'], ['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Michelle Rodriguez'], ['Guy Pearce', 'Carrie-Anne Moss', 'Joe Pantoliano', 'Mark Boone Junior'], ['Leonardo DiCaprio', 'Emily Mortimer', 'Mark Ruffalo', 'Ben Kingsley'], ['Kevin Spacey', 'Annette Bening', 'Thora Birch', 'Wes Bentley'], ['Chris Pratt', 'Vin Diesel', 'Bradley Cooper', 'Zoe Saldana'], ['Leonardo DiCaprio', 'Kate Winslet', 'Billy Zane', 'Kathy Bates'], ['Edward Norton', 'Edward Furlong', "Beverly D'Angelo", 'Jennifer Lien'], ['Hugo Weaving', 'Natalie Portman', 'Rupert Graves', 'Stephen Rea'], ['Johnny Depp', 'Geoffrey Rush', 'Orlando Bloom', 'Keira Knightley'], ['Uma Thurman', 'David Carradine', 'Daryl Hannah', 'Michael Madsen'], ['Ben Burtt', 'Elissa Knight', 'Jeff Garlin', 'Fred Willard'], ['Albert Brooks', 'Ellen DeGeneres', 'Alexander Gould', 'Willem Dafoe'], ['Robert Downey Jr.', 'Gwyneth Paltrow', 'Terrence Howard', 'Jeff Bridges'], ['Edward Asner', 'Jordan Nagai', 'John Ratzenberger', 'Christopher Plummer'], ['Jim Carrey', 'Ed Harris', 'Laura Linney', 'Noah Emmerich'], ['Bruce Willis', 'Haley Joel Osment', 'Toni Collette', 'Olivia Williams'], ['Jim Carrey', 'Kate Winslet', 'Tom Wilkinson', 'Gerry Robert Byrne'], ['Ryan Reynolds', 'Morena Baccarin', 'T.J. Miller', 'Ed Skrein'], ['Tom Hardy', 'Charlize Theron', 'Nicholas Hoult', 'Zoë Kravitz'], ['Daisy Ridley', 'John Boyega', 'Oscar Isaac', 'Domhnall Gleeson'], ['Robin Williams', 'Matt Damon', 'Ben Affleck', 'Stellan Skarsgård'], ['Jennifer Lawrence', 'Josh Hutcherson', 'Liam Hemsworth', 'Stanley Tucci'], ['Ben Affleck', 'Rosamund Pike', 'Neil Patrick Harris', 'Tyler Perry'], ['Tommy Lee Jones', 'Javier Bardem', 'Josh Brolin', 'Woody Harrelson'], ['Russell Crowe', 'Ed Harris', 'Jennifer Connelly', 'Christopher Plummer'], ['Leonardo DiCaprio', 'Tom Hanks', 'Christopher Walken', 'Martin Sheen'], ['Billy Crystal', 'John Goodman', 'Mary Gibbs', 'Steve Buscemi'], ['Robert Downey Jr.', 'Chris Hemsworth', 'Mark Ruffalo', 'Chris Evans'], ['Dev Patel', 'Freida Pinto', 'Saurabh Shukla', 'Anil Kapoor'], ['Jason Statham', 'Brad Pitt', 'Benicio Del Toro', 'Dennis Farina'], ['Sandra Bullock', 'George Clooney', 'Ed Harris', 'Orto Ignatiussen']]
['2,224,414', '1,981,548', '1,794,361', '1,619,665', '1,609,082', '1,593,769', '1,470,261', '1,440,109', '1,430,687', '1,306,968', '1,297,616', '1,268,973', '1,236,013', '1,219,295', '1,194,122', '1,150,711', '1,144,424', '1,128,011', '1,101,610', '1,096,090', '1,090,227', '1,086,257', '1,043,031', '1,017,369', '1,017,183', '1,007,398', '1,002,886', '997,229', '970,377', '967,870', '922,035', '915,618', '904,995', '900,935', '888,870', '882,435', '876,034', '847,926', '841,201', '830,077', '826,470', '825,382', '823,067', '821,660', '790,781', '789,731', '784,677', '782,634', '761,617', '751,266']
['$534.86M', '$292.58M', '$37.03M', '$171.48M', '$315.54M', '$377.85M', '$448.14M', '$342.55M', '$188.02M', '$162.81M', '$187.71M', '$206.85M', '$623.28M', '$120.54M', '$216.54M', '$132.38M', '$53.09M', '$116.90M', '$136.80M', '$760.51M', '$25.54M', '$128.01M', '$130.10M', '$333.18M', '$659.33M', '$6.72M', '$70.51M', '$305.41M', '$70.10M', '$223.81M', '$380.84M', '$318.41M', '$293.00M', '$125.62M', '$293.51M', '$34.40M', '$363.07M', '$154.06M', '$936.66M', '$138.43M', '$408.01M', '$167.77M', '$74.28M', '$170.74M', '$164.62M', '$289.92M', '$678.82M', '$141.32M', '$30.33M', '$274.09M']

In [8]:
data.head()

AttributeError: 'list' object has no attribute 'head'

In [15]:
data1 = pd.DataFrame(data)

In [16]:
data1.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,The Dark Knight,Inception,Fight Club,The Matrix,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Return of the King,The Dark Knight Rises,The Lord of the Rings: The Two Towers,Interstellar,Django Unchained,...,The Hunger Games,Gone Girl,No Country for Old Men,A Beautiful Mind,Catch Me If You Can,"Monsters, Inc.",Avengers: Infinity War,Slumdog Millionaire,Snatch,Gravity
1,2008,2010,1999,1999,2001,2003,2012,2002,2014,2012,...,2012,2014,2007,2001,2002,2001,2018,2008,2000,2013
2,152,148,139,136,178,201,164,179,169,165,...,142,149,122,135,141,92,149,120,104,91
3,"[Action, Crime, Drama]","[Action, Adventure, Sci-Fi]",[Drama],"[Action, Sci-Fi]","[Action, Adventure, Drama]","[Adventure, Drama, Fantasy]","[Action, Adventure]","[Adventure, Drama, Fantasy]","[Adventure, Drama, Sci-Fi]","[Drama, Western]",...,"[Action, Adventure, Sci-Fi]","[Drama, Mystery, Thriller]","[Crime, Drama, Thriller]","[Biography, Drama]","[Biography, Crime, Drama]","[Animation, Adventure, Comedy]","[Action, Adventure, Sci-Fi]","[Drama, Romance]","[Comedy, Crime]","[Drama, Sci-Fi, Thriller]"
4,9.0,8.8,8.8,8.7,8.8,8.9,8.4,8.7,8.6,8.4,...,7.2,8.1,8.1,8.2,8.1,8.0,8.4,8.0,8.3,7.7

In [17]:
data1 = data1.transpose()
data1.head()

,0,1,2,3,4,5,6,7,8,9,10
0,The Dark Knight,2008,152,"[Action, Crime, Drama]",9.0,84,When the menace known as the Joker wreaks havo...,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart, ...","2,224,414",$534.86M
1,Inception,2010,148,"[Action, Adventure, Sci-Fi]",8.8,74,A thief who steals corporate secrets through t...,Christopher Nolan,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...","1,981,548",$292.58M
2,Fight Club,1999,139,[Drama],8.8,66,An insomniac office worker and a devil-may-car...,David Fincher,"[Brad Pitt, Edward Norton, Meat Loaf, Zach Gre...","1,794,361",$37.03M
3,The Matrix,1999,136,"[Action, Sci-Fi]",8.7,73,A computer hacker learns from mysterious rebel...,"Directors:Lana Wachowski, Lilly Wachowski","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","1,619,665",$171.48M
4,The Lord of the Rings: The Fellowship of the Ring,2001,178,"[Action, Adventure, Drama]",8.8,92,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"[Elijah Wood, Ian McKellen, Orlando Bloom, Sea...","1,609,082",$315.54M

In [18]:
data1.columns = ['Title', 'Year', 'Runtime', 'Genre', 'Rating', 'Score', 'Description', 'Director', 'Actors', 'Votes', 'Gross']
data1.head()

,Title,Year,Runtime,Genre,Rating,Score,Description,Director,Actors,Votes,Gross
0,The Dark Knight,2008,152,"[Action, Crime, Drama]",9.0,84,When the menace known as the Joker wreaks havo...,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart, ...","2,224,414",$534.86M
1,Inception,2010,148,"[Action, Adventure, Sci-Fi]",8.8,74,A thief who steals corporate secrets through t...,Christopher Nolan,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...","1,981,548",$292.58M
2,Fight Club,1999,139,[Drama],8.8,66,An insomniac office worker and a devil-may-car...,David Fincher,"[Brad Pitt, Edward Norton, Meat Loaf, Zach Gre...","1,794,361",$37.03M
3,The Matrix,1999,136,"[Action, Sci-Fi]",8.7,73,A computer hacker learns from mysterious rebel...,"Directors:Lana Wachowski, Lilly Wachowski","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","1,619,665",$171.48M
4,The Lord of the Rings: The Fellowship of the Ring,2001,178,"[Action, Adventure, Drama]",8.8,92,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"[Elijah Wood, Ian McKellen, Orlando Bloom, Sea...","1,609,082",$315.54M